*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}


.container-width{
    max-width: 1360px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    margin-top: 16px;
    margin-bottom: 16px;
}

.nav-logo img{
    width: 13 9px;
    height: 60px;
}

header ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

header ul{
    font-size: 16px;
    color: #000000;
    font-weight:500 ;
}

.btn{
    width: 164px;
    height: 44px;
    background:#30B868;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}

#banner-section {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-info{
    text-align: center;
}

.early-btn{
    margin-top:115px;
    margin-bottom: 16px;
    border: none;
    border-radius: 50px;
    padding: 12px;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
}

.banner-texts h2{
    font-size: 72px;
    font-weight: 700;
    color: white;
    margin-bottom: 16px;
}

.banner-texts span{
    color: #30B868;
}

.banner-texts p{
    font-size: 18px;
    font-weight: 200;
    color: white;
    line-height: 24px;
    margin-bottom: 32px;
}

.how-it-works-btn{
    width: 164px;
    height: 44px;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    font-weight: 600;
    margin-bottom: 180px;
    margin-left: 10px;
}