*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}


.container-width{
    max-width: 1360px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    margin-top: 16px;
}

.nav-logo img{
    width: 13 9px;
    height: 60px;
}

header ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

header ul{
    font-size: 16px;
    color: #000000;
    font-weight:500 ;
}

.btn{
    width: 164px;
    height: 44px;
    background:#30B868;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}

#banner-section{
    background-image: url(../assets/hero-bg.png);
    height: 1500px;
}