*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}


.container-width{
    max-width: 1360px;
    margin: 0 auto;
}

button img{
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin: 0 10px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    margin-top: 16px;
    margin-bottom: 16px;
}

.nav-logo img{
    width: 13 9px;
    height: 60px;
}

header ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

header ul{
    font-size: 16px;
    color: #000000;
    font-weight:500 ;
}

.btn{
    padding: 10px 20px;
    background:#30B868;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 600;
}

.btn:hover{
    background:#096831;
    cursor: pointer;
}

#banner-section {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.banner-info{
    text-align: center;
}

.early-btn{
    margin-top:115px;
    margin-bottom: 16px;
    border: none;
    border-radius: 50px;
    padding: 12px;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
}

.banner-texts h2{
    font-size: 72px;
    font-weight: 700;
    color: white;
    margin-bottom: 16px;
}

.banner-texts span{
    color: #30B868;
}

.banner-texts p{
    font-size: 18px;
    font-weight: 200;
    color: white;
    line-height: 24px;
    margin-bottom: 32px;
}

.how-it-works-btn{
    padding: 8px 20px;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    font-weight: 600;
    margin-bottom: 180px;
    margin-left: 10px;
}

.how-it-works-btn:hover{
    background: #30B868;
    cursor: pointer;
}

#note-section{
    text-align: center;
}

.note-heading{
    font-size: 48px;
    font-weight: 800;
    color: #001931;
    margin-top: 65px;
    margin-bottom: 16px;
}

.note-para{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 44px;
}

.note-info{
    display: flex;
    gap: 24px;
}

.note-cards{
    box-shadow: 5px 5px 10px 2px #0000001d;
    padding: 50px 45px;
}

.note-cards img{
    background: #f95555;
    padding: 25px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.note-cards h2{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.note-cards p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.brain-section{
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.brain-image img{
    width: 600px;
    height: 600px;
}

.brain-para{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}

.brain-head{
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.brain-para-sec{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 40px;
}

.brain-para-check{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.brain-para-check img{
    margin-right: 6px;
}

.easy-action{
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 80px 0px;
}

.easy-heading{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}

.easy-para{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 24px;

}

.easy-para-last{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

footer{
    background-color: #001931;
    padding: 120px 0 30px 0;
    text-align: center;
}

.footer-logo{
    display: flex;
    justify-content: space-between;
}

.f-logo{
    width: 139px;
    height: 60px;
}

.socials{
    margin-right: 107px;
}

.socials h2{
    font-size: 20px;
    font-weight: 500;
    color:white;
}

.social-logo img{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    padding:6px;
    margin-top: 16px;
}

hr{
    margin-top: 84px;
}

.copyright{
    font-size: 16px;
    font-weight: 400;
    color: #fafafa;
    margin-top: 30px;
}